ul.exerciseList {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);

  list-style: none;
  gap: 2rem;
  padding: 2rem;
  padding-left: 4rem;
  padding-top: 4rem;
  justify-content: start;
}
.exercisesOnLikePage {
  font-size: 2.5rem;
}
