* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  filter: blur(0.5);
}
:root {
  --color1: #582770;
  --color2: #773d94;
  --color3: #943d8a;
  --color4: #c22760;
  --color5: #e81764;
}

body {
  min-height: 100vh;
  padding-bottom: 2.5rem;
  position: relative;
  overflow-x: hidden;
}
main {
  min-height: calc(100vh - 190px);
  overflow: hidden;
  overflow-x: hidden;
}
.hola {
  font-size: 10rem;
}
.backArrow {
  width: 30px;
  border-radius: 5px;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

#root {
  font-family: Arial, Helvetica, sans-serif;

  background-color: #f8f8f8;
}

svg {
  width: 100px;
}

.active {
  padding: 5px;
}

.clicked {
  padding: 5px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 20%);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
